sudo: false
language: python

python:
    - "2.7"
    - "3.4"
    - "3.5"
    - "3.6"

install:
    - sudo apt-get install libgdal-dev
    - pip install tox-travis coveralls

script:
    - tox

after_success:
    - coveralls
