dist: bionic

language: python

python:
  - "3.6"
  - "3.7"
  - "3.8"

addons:
  apt:
    packages:
      - postgresql-11
      - postgresql-11-postgis-2.5
      - postgresql-11-postgis-2.5-scripts
  postgresql: "11"

services: postgresql

before_install: pip install poetry

install: pip install tox-travis coveralls

script:
  - tox

after_success:
  - coverage combine
  - coveralls
