include LICENSE
include MANIFEST.in
include .editorconfig
include *.yaml
include pyproject.toml
include *.md
include *.py
include *.txt
include Makefile
include tox.ini
include docs/*.rst docs/*.txt docs/*.py docs/Makefile
graft src
graft tests
graft example
prune docs/_build
exclude example/db.sqlite3
global-exclude *.py[cod]
