-r docs/requirements.txt
django==4.0.1
black==21.12b0
isort==5.10.1
flake8==4.0.1
pydocstyle==6.1.1
docformatter==1.4
coverage==6.2
autoflake==1.4
tox==3.24.5
pur==5.4.3
wheel==0.37.1
setuptools==60.5.0
twine==3.7.1
pillow==8.4.0
