-r docs/requirements.txt
django==4.0.5
black==22.3.0
isort==5.10.1
flake8==4.0.1
pydocstyle==6.1.1
docformatter==1.4
coverage==6.4
autoflake==1.4
tox==3.25.0
pur==5.4.3
wheel==0.37.1
setuptools==60.10.0
twine==3.8.0
pillow==9.1.1
